.login-form {
    height: 200px;
    width: 400px;
  
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
  }
  
  .margin-top {
    margin-top: 5px;
  }
  
  .center-alligment {
    text-align: center;
    border: 10px;
  }
  
  .mat-toolbar-row {
    justify-content: center;
  }
  
 
  
  .signIn-LogIn-buttons{
      display: flex;
      justify-content: space-between;
      padding: 5px;
  }
  
  .take-all-space{
      width: -webkit-fill-available;
  }
  
  .footer{
      position: fixed;
  bottom: 0;
  }
  
  .padding-card{
    padding: 5px;
  }
  


  .justify-center{
    justify-content: center;
}

.expand-and-position{
    width: -webkit-fill-available;
    text-align: center;
}
  
  
  